.logo {
  width: 150px;
}

.navlink {
  font-size: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.navlink a {
  color: rgb(202, 202, 202);
  transition: ease-in-out 0.2s;
  margin: 5px;
}
.navlink a:hover {
  color: white;
  font-weight: 900;
  transition: ease-in-out 0.2s;
}
.navlink a.active,
.navlink a.active:focus {
  border-top: 2px solid rgb(255, 150, 37);
  color: rgb(255, 150, 37);
  transition: ease-in-out 0.2s;
}
